<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item list-item">
        <div class="col-5 list-item-text-content">
          <h1>Project name</h1>
          <p>Laboris nulla ea aute commodo ad ullamco eu. Qui aliqua do labore fugiat mollit fugiat excepteur consequat labore. Nulla commodo qui consectetur laborum do. Commodo magna nulla consectetur aute amet irure in irure magna proident laborum irure.</p>
        </div>
        <div class="cols-7 list-item-image-content">
          <img style="max-height: 250px; max-width: 100%; align-self: center;" src="http://i.rtings.com/images/reviews/m-series-2015/m-series-2015-upscaling-4k-large.jpg" class="img-responsive" alt="">
        </div>
      </li>
      <li class="list-group-item list-item">
        <div class="cols-7 list-item-image-content">
          <img style="max-height: 250px; max-width: 100%; align-self: center;" src="http://i.rtings.com/images/reviews/m-series-2015/m-series-2015-upscaling-4k-large.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-5 list-item-text-content">
          <h1>Project name</h1>
          <p>Laboris nulla ea aute commodo ad ullamco eu. Qui aliqua do labore fugiat mollit fugiat excepteur consequat labore. Nulla commodo qui consectetur laborum do. Commodo magna nulla consectetur aute amet irure in irure magna proident laborum irure.</p>
        </div>
      </li>
      <li class="list-group-item list-item">
        <div class="col-5 list-item-text-content">
          <h1>Project name</h1>
          <p>Laboris nulla ea aute commodo ad ullamco eu. Qui aliqua do labore fugiat mollit fugiat excepteur consequat labore. Nulla commodo qui consectetur laborum do. Commodo magna nulla consectetur aute amet irure in irure magna proident laborum irure.</p>
        </div>
        <div class="cols-7 list-item-image-content">
          <img style="max-height: 250px; max-width: 100%; align-self: center;" src="http://i.rtings.com/images/reviews/m-series-2015/m-series-2015-upscaling-4k-large.jpg" class="img-responsive" alt="">
        </div>
      </li>
    </ul>
  </div>
</div>
