<nav class="navbar navbar-default bg-dark fixed-top" style="box-shadow: #000 5px 5px 20px;">
  <!--Logo---------------------------------->
  <div class="navbar-header my-header">
    <a href="#" class="navbar-brand">Projects</a>
  </div>

  <!--Buttons------------------------------->
  <div class="navbar-right right-navigation">
    <!-- <div class="btn-group my-btn-group">
      <button class="btn btn-primary">Shopping List</button>
      <button class="btn btn-primary">Recipes</button>
    </div> -->
    <div class="dropdown">
      <a href="#" class="btn btn-primary dropdown-toggle" role="button"></a>
      <ul class="dropdown-menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>

</nav>
